:root {
    --brand-color: #0064FF;
    --color_black: #222222;
    --color_grey: #464555;
    --color_white: #ffffff;

    --font-size-h1: 5rem;
    /* 80px */
    --font-size-h2: 4.5rem;
    /* 72px */
    --font-size-h3: 2rem;
    /* 32px */
    --font-size-h4: 1.375rem;
    /* 22px */
    --font-size-p: 1.5rem;
    /* 24px */
    --font-size-title: 1.375rem;
    /* 22px */
}

html{
    scroll-behavior: smooth;
  }

body {
    font-family: 'Pretendard-Regular';
    overflow-x: hidden;
}

body.stop-scroll {
    overflow: hidden;
}


/* =========== 헤더 =========== */
header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 60px 26px 60px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

header .logo_img img {
    max-width: 169px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

header ul li a {
    color: var(--color_white);
    font-weight: 800;
}

/* =========== 메인 비주얼 =========== */
.main_visual {
    position: relative;
}

.main_visual01 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    animation-name: hideIntro;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.main_visual .img_box {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.main_visual>.img_box.active {
    opacity: 1;
}

.main_visual>.img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .txt_box {
    position: absolute;
    top: 197px;
    left: 158px;
}

.main_visual .txt_box h1 {
    font-size: var(--font-size-h1);
    color: var(--color_white);
    font-weight: 900;
    line-height: 6rem;
}

.main_visual .txt_box.active {
    opacity: 1;
}

@keyframes hideIntro {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* =========== sec_01 회사소개 =========== */
.sec_01 {
    padding: 200px 0;
    box-sizing: border-box;
}

.sec_01 .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 0 120px 170px 120px;
    box-sizing: border-box;
}

.sec_01 .contents .txt_box h2 {
    padding: 0 0 30px 0;
    box-sizing: border-box;
    font-size: var(--font-size-h2);
    font-weight: 800;
    line-height: 5rem;
    color: var(--brand-color)
}

.sec_01 .contents .txt_box p {
    width: 600px;
    font-size: var(--font-size-p);
    font-weight: 500;
    line-height: 2rem;
    word-break: keep-all;
}

.sec_01 .contents .img_box {
    width: 845px;
}

.sec_01 .contents .img_box img {
    width: 100%;
}

.sec_01 .marquee_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.sec_01 .marquee {
    display: flex;
    align-items: center;
    gap: 44px;

    animation: rollingLeft01 60s linear infinite;
}

.sec_01 .marquee img {
    width: 774px;
}


@keyframes rollingLeft01 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/* =========== sec_02 사업소개 =========== */
.sec_02 {
    height: 3440px;
    padding: 0 120px;
    box-sizing: border-box;
}

.sec_02 .container {
    position: sticky;
    top: 82px;
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 100vh;
}

.sec_02 .container .img_box {
    width: 50%;
}

.sec_02 .container .img_box img {
    width: 100%;
}

.sec_02 .container_01 .img_box {
    background-color: #F2F2F2;
    border-radius: 20px;
}

.sec_02 .container {
    position: sticky;
    top: 0;

}

.sec_02 .container .txt_box {
    width: 50%;
    opacity: 0;
}

.sec_02 .container .txt_box.active {
    opacity: 1;
    transition: 1.5s;
}

.sec_02 .container .txt_box h4 {
    width: fit-content;
    padding: 18px 35px;
    margin: 0 0 40px 0;
    box-sizing: border-box;
    font-size: var(--font-size-title);
    color: var(--brand-color);
    border-radius: 50px;
    border: solid 1px var(--brand-color);
}

.sec_02 .container .txt_box h2 {
    font-size: var(--font-size-h2);
    font-weight: 800;
    line-height: 5rem;
    margin: 0 0 30px 0;
}

.sec_02 .container .txt_box p {
    max-width: 595px;
    font-size: var(--font-size-p);
    color: var(--color_black);
    font-weight: 500;
    line-height: 2rem;
    word-break: keep-all;
}


/* =========== sec_03 브랜드철학 =========== */
.sec_03 {
    width: 100%;
    overflow: hidden;
}

.sec_03 .item {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec_03 .item_01 {
    background-color: var(--brand-color);
}

.sec_03 .item_02 {
    background-image: url(../image/puffu_global_section_03_img01.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.sec_03 .item_03 {
    background-image: url(../image/puffu_global_section_03_img02.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

.sec_03 .item_04 {
    background-image: url(../image/puffu_global_section_03_img03.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;

}

.sec_03 .item .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sec_03 .item .tit_box {
    width: 100%;
    text-align: center;
}

.sec_03 .item p,
.sec_03 .item h2,
.sec_03 .item h4 {
    text-align: center;
    color: var(--color_white);
}

.sec_03 .item h4 {
    width: fit-content;
    padding: 12px 36px;
    margin: 0 auto 50px auto;
    font-size: var(--font-size-title);
    font-weight: 800;
    border-radius: 50px;
    border: solid 1px var(--color_white);
}

.sec_03 .item h2 {
    padding: 0 0 20px 0;
    font-size: var(--font-size-h2);
    font-weight: 800;
    line-height: 5rem;
    line-height: 5.5rem;
}

.sec_03 .item p {
    font-size: var(--font-size-p);
    font-weight: 800;
    line-height: 2rem;
}


/* =========== sec_04 차별점 =========== */
.sec_04{
    padding: 184px 0;
    box-sizing: border-box;
}

.sec_04 .tit_box{
    padding: 0 0 100px 0;
    text-align: center;
    font-size: var(--font-size-h2);
    font-weight: 800;
}

.sec_04 .card_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 120px;
}

.sec_04 .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 33.33%;
    height: 630px;
    padding: 0 50px;
    text-align: center;
    border-radius: 20px;
    border: solid 2px var(--brand-color);
}

.sec_04 .card_02{
    margin: 70px 0 0 0;
}

.sec_04 .card .img_box{
    width: 128px;
}

.sec_04 .card .img_box img{
    width: 100%;
}

.sec_04 .card .txt_box h3{
    font-size: var(--font-size-h3);
    color: var(--color_black);
    font-weight: 700;
    line-height: 2.5rem;
    padding: 0 0 30px 0; 
    word-break: keep-all;
}

.sec_04 .card .txt_box p{
    font-size: var(--font-size-p);
    color: var(--color_black);
    font-weight: 500;
    line-height: 1.8rem;
    word-break: keep-all;
}



/* =========== sec_05 입점신청 배너 =========== */
.sec_05{
    padding: 50px 120px;
    box-sizing: border-box;
}

.sec_05 .banner_box{
    width: 100%;
    height: auto;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;
    background-image: url(../image/puffu_global_section_05_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.sec_05 .banner_box .txt_box{
    padding: 0 0 30px 0;
    box-sizing: border-box;
}

.sec_05 .banner_box .txt_box p{
    font-size: 2.625rem;
    font-weight: 800;
    color: var(--color_white);
}

.sec_05 .banner_box a{
    width: fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: var(--font-size-p);
    font-weight: 800;
    color: var(--color_white);
    background-color: var(--brand-color);
}


/* =========== footer =========== */
footer{
    padding: 24px 60px 60px 60px;
    background-color: var(--color_grey);
}

footer .logo_img{
    width: 170px;
    padding: 0 0 20px 0;
}

footer .logo_img img{
    width: 100%;
}

footer .txt_box{
    color: var(--color_white);
}

footer .txt_box .corp_info_box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0 0 0;
}

footer .txt_box .corp_info_box ul{
    display: flex;
    gap: 30px;
}

footer .txt_box .corp_info_box ul li span{
    padding: 0 0 0 10px;
    color: #7B7B7B;
}

footer .txt_box .copyright_box{
    color: #7B7B7B;
}


